body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

main {
    margin: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.python {
    float: right;
    margin-left: 20px;
}

.javascript{
    float: right;
    margin-left: 20px;
}

.c{
    float: right;
    margin-left: 20px;
}